<h2>Login</h2>

<form id="login-form">
  <div>
    <label for="user-login" class="form-label">username:</label>
    <input type="text" class="form-control" id="user-login" />
  </div>
  <div>
    <label for="password-login" class="form-label">password:</label>
    <input type="password" class="form-control" id="password-login" />
  </div>
  <div>
    <button type="submit" class="btn btn-dark">login</button>
  </div>
</form>

<div class="my-3">
    Don't have an account with us yet? <a href="/signup" class="login-link">Sign up here!</a>
</div>

<script src="/javascript/login.js"></script>